@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 5%;
}

body {
  background: url("./space.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  color: azure;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  /* margin: 89px 0 auto; */
  margin: auto;
  position: relative;
  transform: scale(1);
}

.container.grow {
  animation: grow 3s forwards linear;
}

.container.shrink {
  animation: shrink 3s forwards linear;
}

.gradient-circle {
  background: conic-gradient(
    rgb(149, 236, 252) 0%,
    rgb(140, 239, 252) 40%,
    white 40%,
    white 60%,
    rgb(17, 108, 124) 60%,
    rgb(17, 108, 124) 100%
  );

  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;

  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer {
  background-color: aliceblue;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
